<html>
    <head>
        <style>
           body {
  background-image: url("https://t4.ftcdn.net/jpg/02/07/22/45/360_F_207224597_rbg7Dx3c3eUTsErO1bS5oaNBd3FTDXpu.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  box-sizing: border-box;
}
  

        </style>
    </head>
    <body>                     <h2 style="font:ARTISTE;font-size:100px;text-align:center;color:#800080;"> WELCOME</h2>
                    <p style="font-size: 60px;text-align:center;">  Hi there!!!:)<br>
                    Worrying where to study.<br>
                     Here we go!!!</p>
<br>
                   <p style="font-size: 40px;text-align: center;"> A new user ? <a href="/signup">Signup</a><br>
                    Already a user? <a href="/login">login</a></p>
        
    </body>
</html>