<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    
    .d1{
            margin-top: 20px;
            width: 700px;
            height:400px;
            text-align: center;
            align-items: center;
            justify-content: center;
            margin: auto;
            background-color: lightblue;
            border: 3px solid black;
            font-size: 20px;
            }
            body {
  background-image: url('https://thumbs.dreamstime.com/z/books-background-22199819.jpg');
}
    </style>
</head>
<body>
        
            <p style="color: black;font-size: 70px;text-align: center;">REFERENCE NOTES</p>
        
<br>
<br>
       <div class="d1" align="center">
        <ol>
        <br>
        <br>
        <a href="https://drive.google.com/file/d/1wWyvuuN2I1sjLOruPRsM77tb1L4314vs/view?usp=share_link">BUSINESS ECONOMICS AND FINANCIAL ANALYSIS</a><br>
        <a href="https://drive.google.com/file/d/1mc6X02ZzYYlP0kQ875G91Z4cjuITxZwD/view?usp=share_link">COMPILER DESIGN</a><br>
        <a href="https://drive.google.com/file/d/1hpIMFstgQk9NHV07tCPLD4ygnjZxqkoK/view?usp=share_link">COMPUTER NETWORKS</a><br>
        <a href="https://drive.google.com/file/d/13VmZrwGh--WTcURd-nzIxXpZCXbQBt9g/view?usp=share_link">DESIGN AND ANALYSIS OF ALGORITHMS</a><br>
        <a href="https://drive.google.com/file/d/1iDsmIdEQfZH9RHKeZNRF4FxOMV026daB/view?usp=share_link">DATABASE MANAGEMENT SYSTEMS</a><br>
        <a href="https://drive.google.com/file/d/1Svbf04cohNSovdFm3bnLB6qil5xNq2S7/view?usp=share_link">MACHINE LEARNING</a><br>
        <a href="https://drive.google.com/file/d/17PZ4d1JVaHBTnDEZ7mjRZuAL5ghOQvTE/view?usp=share_link">OBJECT ORIENTED PROGRAMMING USING JAVA</a><br>
        <a href="https://drive.google.com/file/d/1I21TftWJFKhyxNck0OUk_LYtG5fEsfa5/view?usp=share_link">OPERATING SYSTEMS</a><br>
        <a href="https://drive.google.com/file/d/1hRQRhQitb8oZDlIiR9W3-SeZZ8uBVa3J/view?usp=share_link">PYTHON PROGRAMMING</a><br>
        <a href="https://drive.google.com/file/d/10YVF5W348V9hKEv8NoNVNqhtFiXlBSze/view?usp=share_link">R Programming</a><br>
        <a href="https://drive.google.com/file/d/16IWjCNF5YbZou9eglkDa8WL1iFhX15em/view?usp=share_link">SOFTWARE ENGINEERING</a><br>
        

    </ol>
    </div>
</body>
</html>